@using Blazorise.Icons.Material
@using ReactiveUI

@inherits TodoViewBase;


@if (!ViewModel.IsEdit)
{
    <Row Margin="Indent" 
         Style="min-height: 0.25rem;" 
         Class="@DropBeforeClass"
         
         @ondrop="@(OnDropBefore)"
         @ondragenter="@(OnDragBeforeEnter)"
         @ondragleave="@(OnDragBeforeLeave)"
         ondragover="event.preventDefault();"
    />
    
    <Row Margin="Indent"
         Class="@(DropClass + (RowHover?" hover":""))"
         @ondrop="@(OnDrop)"
         @ondragstart="@(OnDragStart)"
         @ondragenter="@(OnDragEnter)"
         @ondragleave="@(OnDragLeave)"
         draggable="@(Draggable.ToString())"
         ondragover="event.preventDefault();"
         @onmouseover="@(() => { RowHover = true; })"
         @onmouseout="@(() => { RowHover = false; })">
        <Column ColumnSize="ColumnSize.Is1" Class="d-flex align-items-center justify-content-end" Style="max-width: 3%;">
            <Blazorise.Icons.Material.Icon Name="MaterialIcons.Reorder" Class="move-bar" @onmouseover="@(() => { Draggable = true; })" @onmouseout="@(() => { Draggable = false; })" />
            @if (ViewModel.CanExpand)
            {
                <Button Color="Color.Link" Class="btn-icon" Command="ViewModel.Expand">
                    <Blazorise.Icons.Material.Icon Name="@(ViewModel.IsExpanded ? MaterialIcons.KeyboardArrowDown : MaterialIcons.KeyboardArrowRight)" />
                </Button>
            }
        </Column>
        <Column ColumnSize="ColumnSize.Is5" Class="d-flex align-items-center">
            <Check TValue="bool" @bind-Checked="IsCompleted" >@ViewModel.Summary</Check>
        </Column>
        <Column ColumnSize="ColumnSize.IsAuto.WithOffset" Class="todo-panel">
            <Button Color="Color.Link" Class="btn-icon" Command="ViewModel.Edit">
                <Blazorise.Icons.Material.Icon Name="MaterialIcons.Create" />
            </Button>
            <Button Color="Color.Link" Class="btn-icon" Command="ViewModel.Remove">
                <Blazorise.Icon Name="MaterialIcons.Remove" />
            </Button>
        </Column>
    </Row>
    <Row Margin="Indent" 
         Style="min-height: 0.25rem;" 
         Class="@DropNextClass"
         
         @ondrop="@(OnDropNext)"
         @ondragenter="@(OnDragNextEnter)"
         @ondragleave="@(OnDragNextLeave)"
         ondragover="event.preventDefault();"
    />
    
}
else
{
    <Row Margin="Indent">
        <Column ColumnSize="ColumnSize.Is10">
            <Card>
                <CardBody>
                    <Field>
                        <TextEdit Placeholder="Write what you want..." @bind-Text="ViewModel.Summary" />
                    </Field>
                    <Button Color="Color.Primary" Command="ViewModel.Save" Disabled="@(!ViewModel.CanSave)">Save</Button>
                    <Button Color="Color.Light" Command="ViewModel.Cancel">Cancel</Button>
                </CardBody>
            </Card>
        </Column>
    </Row>
}


@if (ViewModel.IsExpanded)
{
    foreach (var result in ViewModel.Children)
    {
        <TodoView ViewModel="@result" />
    }
}

@code
{
    private bool Draggable { get; set; }
    private bool RowHover { get; set; }
}
